body {background-color:#00CCFF ;}

h1 {
    text-align: center;
}

.main-body {
    width:600px;
    margin: 10px auto;
    background-color: white;
    padding: 15px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    text-align:center;
}

img {
    display: block;
    max-width: 600px;
    height: auto;
    margin: 0 auto;
}